<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" 
           Name="FastSearch MCP" 
           Manufacturer="FastSearch" 
           Version="2.0.0"
           UpgradeCode="3298de23-b4e3-481e-91f7-ddcb238b95b4"
           Language="1033">
    
    <Package InstallerVersion="500" 
             Compressed="yes" 
             InstallScope="perMachine"
             Description="FastSearch MCP - High-performance NTFS file search"
             Comments="FastSearch MCP provides lightning-fast file search using direct NTFS MFT access"
             InstallPrivileges="elevated" />
             
    <MajorUpgrade DowngradeErrorMessage="A newer version of FastSearch MCP is already installed." />
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    
    <!-- Set installation directory -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="FastSearch MCP" />
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="FastSearch MCP"/>
      </Directory>
    </Directory>

    <!-- Application files -->
    <Feature Id="ProductFeature" Title="FastSearch MCP" Level="1">
      <ComponentRef Id="ServiceBinary" />
      <ComponentRef Id="ServiceInstall" />
      <ComponentRef Id="Documentation" />
      <ComponentRef Id="StartMenuShortcuts" />
    </Feature>

    <!-- UI Configuration -->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Start FastSearch Service" />
    <Property Id="WixShellExecTarget" Value="[#FastSearchServiceExe]" />
    
    <!-- Service Configuration -->
    <Property Id="SERVICENAME" Value="FastSearchService" />
    <Property Id="SERVICEDISPLAYNAME" Value="FastSearch MCP Service" />
    <Property Id="SERVICEDESCRIPTION" Value="Provides high-performance NTFS file search capabilities" />
    
    <!-- Service Control -->
    <CustomAction Id="StartService" 
                 FileKey="FastSearchServiceExe" 
                 ExeCommand='start' 
                 Execute="deferred" 
                 Return="ignore" 
                 Impersonate="no" />
    
    <CustomAction Id="StopService" 
                 FileKey="FastSearchServiceExe" 
                 ExeCommand='stop' 
                 Execute="deferred" 
                 Return="ignore" 
                 Impersonate="no" />
    
    <InstallExecuteSequence>
      <!-- Stop service during uninstall -->
      <Custom Action="StopService" Before="RemoveFiles">
        (NOT UPGRADINGPRODUCTCODE) AND (REMOVE~="ALL")
      </Custom>
      
      <!-- Start service after install -->
      <Custom Action="StartService" After="InstallFinalize">
        NOT Installed AND NOT WIX_UPGRADE_DETECTED
      </Custom>
    </InstallExecuteSequence>

    <!-- UI Configuration -->
    <UIRef Id="WixUI_InstallDir" />
    <WixVariable Id="WixUILicenseRtf" Value="wix\\license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="wix\\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="wix\\dialogbg.bmp" />
    
    <!-- Custom Actions -->
    <CustomAction Id="LaunchServiceControl" 
                  FileKey="FastSearchServiceExe" 
                  ExeCommand="help" 
                  Return="asyncNoWait" />
                  
    <UI>
      <Publish Dialog="ExitDialog" 
               Control="Finish" 
               Event="DoAction" 
               Value="LaunchServiceControl">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed</Publish>
    </UI>

    <!-- Files -->
    <DirectoryRef Id="INSTALLFOLDER">
      <!-- Service Binary -->
      <Component Id="ServiceBinary" Guid="*">
        <File Id="FastSearchServiceExe" 
              Source="$(var.SolutionDir)service\build\$(var.Configuration)\FastSearchService.exe" 
              KeyPath="yes" />
        
        <!-- Service Installation -->
        <ServiceInstall 
          Id="ServiceInstaller" 
          Type="ownProcess"
          Vital="yes"
          Name="$(var.SERVICENAME)"
          DisplayName="$(var.SERVICEDISPLAYNAME)"
          Description="$(var.SERVICEDESCRIPTION)"
          Start="auto"
          Account="LocalSystem"
          ErrorControl="normal"
          Interactive="no">
          <ServiceDependency Id="tcpip" />
        </ServiceInstall>
        
        <ServiceControl 
          Id="StartService" 
          Name="$(var.SERVICENAME)" 
          Start="install" 
          Stop="both" 
          Remove="uninstall" 
          Wait="yes" />
      </Component>
      
      <!-- Service Configuration -->
      <Component Id="ServiceConfig" Guid="*">
        <File Id="ServiceConfigFile" Source="..\\service\\config\\service_config.json" KeyPath="yes" />
        <util:XmlFile Id="UpdateServiceConfig" 
                     File="[#ServiceConfigFile]" 
                     Action="setValue" 
                     Name="LogLevel" 
                     Value="Info" 
                     ElementPath="//Configuration/Logging" />
      </Component>
      
      <!-- Start Menu Shortcuts -->
      <Component Id="StartMenuShortcuts" Guid="*">
        <Shortcut Id="StartMenuServiceControl" 
                 Name="Service Control" 
                 Description="Manage FastSearch Service"
                 Target="[SystemFolder]cmd.exe"
                 Arguments="/k &quot;$(var.SERVICENAME) help&quot;"
                 WorkingDirectory="INSTALLFOLDER" />
        <Shortcut Id="StartMenuReadme" 
                 Name="Readme" 
                 Target="[INSTALLFOLDER]README.md" />
        <RegistryValue Root="HKCU" 
                      Key="Software\FastSearch\MCP" 
                      Name="Installed" 
                      Type="integer" 
                      Value="1" 
                      KeyPath="yes" />
      </Component>
      
      <!-- Service Control Script -->
      <Component Id="ServiceControlScript" Guid="*">
        <File Id="ServiceControlBat" Source="..\\service\\scripts\\service_control.bat" KeyPath="yes">
          <Shortcut Id="StartMenuServiceControl" 
                   Directory="ApplicationProgramsFolder" 
                   Name="FastSearch Service Control" 
                   WorkingDirectory="INSTALLFOLDER"
                   Icon="mainicon.ico"
                   Advertise="yes" />
        </File>
      </Component>
      
      <!-- Documentation -->
      <Component Id="ReadmeFile" Guid="*">
        <File Id="Readme" 
              Source="..\\README.md" 
              KeyPath="yes" />
        <Shortcut Id="startmenuReadme" 
                 Directory="ApplicationProgramsFolder" 
                 Name="Readme" 
                 WorkingDirectory="INSTALLFOLDER"
                 Advertise="yes" />
      </Component>
      
      <!-- License -->
      <Component Id="LicenseFile" Guid="*">
        <File Id="License" 
              Source="..\\LICENSE" 
              KeyPath="yes" />
      </Component>
      
      <!-- Windows Service -->
      <Component Id="ServiceInstall" Guid="*">
        <File Id="FastSearchService" 
              Source="..\\service\\target\\release\\fastsearch.exe" 
              KeyPath="yes" />
        <ServiceInstall Id="FastSearchService" 
                       Name="FastSearchService" 
                       DisplayName="FastSearch MCP Service"
                       Description="Provides lightning-fast file search using NTFS MFT"
                       Start="auto" 
                       Type="ownProcess"
                       Vital="yes"
                       ErrorControl="normal"
                       Account="LocalSystem"
                       Arguments="--run-as-service"
                       Interactive="no">
          <ServiceDependency Id="tcpip" />
        </ServiceInstall>
        <ServiceControl Id="StartService" 
                       Name="FastSearchService" 
                       Start="install" 
                       Stop="both" 
                       Remove="uninstall" 
                       Wait="yes" />
      </Component>
    </DirectoryRef>
  </Product>
</Wix>
